#tbd {
    overflow: scroll;
    height: 700px;
    width: 1344px;
}

#id2 {
    background-color: transparent;
    color: #666464;
    width: 400px;
}

#frosted-glass, #ncenter {
    width: 1344px;
    height: 884.6px;
}

#frosted-glass {
    margin-left: 300px;
    position: absolute;
}

#frosted-glass:after, body {
    background-image: url("../images/bilibili.jpg");
    background-size: cover;
    background-attachment: fixed;
}

#frosted-glass:after {
    margin: -30px;
    background-position: center top;
    -webkit-filter: blur(20px);
    -moz-filter: blur(20px);
    -ms-filter: blur(20px);
    -o-filter: blur(20px);
    filter: blur(20px);
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(255, 255, 255, 0.8);
    z-index: -1;
}

body {
    background-repeat: no-repeat;
    overflow: hidden;
}

#ncenter {
    position: relative;
    display: block;
}
